body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #3a3a3a;
    color: white;
    padding: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 2em;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff7f50;
}

.event-card {
    background-color: #fff;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 1em;
    transition: transform 0.3s;
}

.event-card img {
    width: 100%;
    border-radius: 8px;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.event-card:hover {
    transform: translateY(-5px);
}

.details-btn {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.details-btn:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
    color: #333;
    margin: 2em 0;
}

.event-details {
    text-align: center;
    margin: 2em auto;
    max-width: 600px;
}

.user-profile {
    text-align: center;
    margin: 2em auto;
    max-width: 600px;
    background-color: #fff;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1em;
    background-color: #f9f9f9;
}

.profile-picture {
    border-radius: 50%;
    width: 150px; /* Adjust as needed */
    height: 150px; /* Adjust as needed */
    margin: 0 auto 1em; /* Center the image and add space below */
}

.profile-details {
    text-align: left; /* Align details to the left */
}

.profile-details h2 {
    margin: 0 0 0.5em; /* Add space below the name */
}

.profile-details p {
    margin: 0.5em 0; /* Space between details */
}
